* {
    margin: 0;
    padding: 0;
    max-height: 100vh;
    font-family: Arial, Helvetica, sans-serif
}

canvas {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    position: absolute;
    overflow-y: hidden;
    width: 100vw;

}


#selections {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;


    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-end;
    align-content: center;
    width: 100vw;
    height: 3vh;

}

.btn,
#pixel,
#background,
#brushes,
button {

    text-align: center;
    border-style: none;
    /* width: 14.28%; */
    width: 200%;
    height: 3vh;
}


.btn:nth-child(odd) {
    animation: cols 10s alternate infinite;

}

.btn:nth-child(even) {
    animation: cols 10s alternate-reverse infinite;

}


.btn,
#bgBtn,#pixel:hover {
    cursor: pointer;
}

/* .btn,
#bgBtn,
#pixel:active{
    background-color: greenyellow;
    color: black;
} */
@keyframes cols {
    from {
        background-color: coral;
        color: #ffe100;
    }

    to {
        background-color: #ffe100;
        color: coral;
    }
}

#pixel {

    display: flex;
    flex-flow: column-reverse nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    animation: cols 10s alternate infinite;

}

#pixelSelection {
    position: absolute;
    /* change the height */
    bottom: 9.5vh;
    -webkit-transform: rotate(270deg);

}

#pixelSlider {

    width: 100px;
    z-index: 200;
    /* -webkit-transform: rotate(270deg); */
    -webkit-appearance: none;
    background: #ffe100;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}


#pixelSlider:hover {
    opacity: 1;
}

#pixelSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 2vh;
    background: coral;
    cursor: pointer;
}

#pixelSlider::-moz-range-thumb {
    /* width: 20px;
    height: 1vh; */
    /* background: greenyellow; */
    cursor: pointer;
}

span {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;


}



#brushSelections {

    bottom: 12vh;
    position: relative;
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

}

#bgSelections {
    bottom: 9vh;
    position: relative;
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#brushSelections>button {
    width: 100%;

}

#bgSelections>button{
    width: 100%;
}
/* 
#bgBtn{
    width: 100%;
    height: 100%;
} */
.brushes {
    width: 100%;
}

@media only screen and (max-width: 600px) {

    #selections{
        height: 7vh;
    }

    .btn,
    #pixel,
    #background,
    #brushes,
    button {
    
        text-align: center;
        border-style: none;
        width: 200%;
        height: 7vh;
    }
    
    #brushBtn,#bgBtn{
        width: 100%;
        height: 100%;
        text-align:center;
    }
    span {
        font-size: 0.9rem;
        text-align: center;
    }

    #pixelSelection {
        position: absolute;
        /* change the height */
        bottom: 12vh;
        -webkit-transform: rotate(270deg);
    
    }


    #brushSelections {

        bottom: 28vh;
    
    }
    
    #bgSelections {
        bottom: 21vh;

    }

    
}