* {
    margin: 0;
    padding: 0;
    max-height: 100vh;
    font-family: Arial, Helvetica, sans-serif
}

canvas {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    position: absolute;
    overflow-y: hidden;
    width: 100vw;

}


/* remember to change the line height and margin top if you change selection height */

/* <selection height - line height)/2 = margin top height  */
#selections {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;


    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-end;
    align-content: center;
    width: 100vw;
    height: 4vh;

}

.btn,
#brushes,
#background,
button {


    border-style: none;
    width: 100%;
    height: 4vh;
    
}

.btn,
#pixel,
button {

    text-align: center;
    border-style: none;

    width: 100%;
    height: 4vh;
    
}

#bgBtn,#bg,#download,#one,#three,#clear{
    animation: cols 10s alternate-reverse infinite;

}

#colors,#brushes,#two,#undo,#link {
    animation: cols 10s alternate infinite;

}


.btn,
#bgBtn:hover {
    cursor: pointer;
}

#brushBtn,
#bgBtn {
    position: relative;
  
    
}


#brushBtn>span,#bgBtn>span {
    margin: auto;
    margin-top: 1.5vh;
    line-height: 1vh;
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}



@keyframes cols {
    from {
        background-color: coral;
        color: #ffe100;
    }

    to {
        background-color: #ffe100;
        color: coral;
    }
}

span {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}



#brushSelections {

    bottom: 16vh;
    position: relative;
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

}

#bgSelections {
    bottom: 12vh;
    position: relative;
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#brushSelections>button {
    width: 100%;

}

#bgSelections>button {
    width: 100%;
}

.brushes {
    width: 100%;
}

@media only screen and (max-width: 600px) {

    #selections {
        height: 7vh;
        text-align: center;
    }

    .btn,
    #brushes,
    #background,
    button {


        border-style: none;
        width: 100%;
        height: 7vh;
    }

    #brushBtn,
    #bgBtn {
        position: relative;
        
    }


    #brushBtn>span,#bgBtn>span {
        margin: auto;
        margin-top: 3vh;
        line-height: 1vh;
        position: absolute;

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }



    span {
        font-size: 0.9rem;
    }

    #brushSelections {

        bottom: 28vh;

    }

    #bgSelections {
        bottom: 21vh;

    }


}